MVCRavenSaga/Service References/WCFPromedios/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPromedios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Promedios" nillable="true" type="tns:Promedios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPromedios" nillable="true" type="tns:ArrayOfPromedios" />
  <xs:complexType name="Promedios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefMax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Defensa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fuerza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FuerzaMax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HPMax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HabMax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Magia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MagiaMax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResMax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resistencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SueMax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suerte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VelMax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Velocidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Promedios" nillable="true" type="tns:Promedios" />
</xs:schema>